* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button{
    border: none;
    cursor: pointer;
}

ul{list-style: none;}

li.presentation{
    width: 8px;
    height: 8px;
    border: 3px solid $dark;
    border-radius: 100%;
    margin:10px 0;
    
}

li.slick-active{
    background: $dark;
}

.ms-right .section-footer {
    width: 200% !important;
    transform: translateX(-50%);
    position: relative;
    background: $backDark;
    @include breakpoint(phablet){
        width:100% !important;
        transform: translate(0);
    }
}

.ms-left .section-footer{
    background: $backDark;
}

.ms-left,
.ms-right{
    @include breakpoint(phablet){
        position: absolute !important;
        display: block !important;
        width: 100% !important;
        height: 50% !important;
    }
}

.ms-right{
    @include breakpoint(phablet){
        width:100%;
    }
}
section {
    display: flex !important;
    width: 100%;
    color: $dark;
    @include breakpoint(phablet){
        display: inline-block;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
    }

    .bloc {
        width: 50%;
        position: relative;
        @include breakpoint(phablet){
            width: 100%;
        }
    }

}

.lato{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
}
.italic{
    font-family: $fontMerri;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
}

.bloc-text {
    text-align: center;
    display: flex;
    align-items: center;
    padding: $paddingBloc;
    @include breakpoint(phablet){
        width: 100%;
        z-index: 80;
        top: 56%;
        height: 100%;
        transform: translateY(-50%);
        position: absolute;
        background: rgba($color: #fff, $alpha: 0.9)
    }

    &_logo{
        margin-bottom: 55px;
    }
}

.lato {
    font-family: $fontLato;
}

.line {
    position: absolute;
    content: '';
    width: 30px;
    height: 1px;
    background: $fontWhite;
}

h2{
    font-size: 24px;
    font-weight: 800;
    font-family: $fontMerri;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &::before{
        @extend .line;
        background: $dark;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
}
.signature{
    margin-top: 55px;
}
.bloc-color_button{
    width: 90px;
    height: 90px;
    background: $dark;
    position: fixed;
    z-index: 2000;
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    @include breakpoint(phablet){
        display: none;
    }

    .button-line{
        @extend .line;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%) rotate(-45deg);
    }
    .icon-up-arrow,
    .icon-down-arrow{
        font-size: 30px;
    }
    .icon-up-arrow{
        top: 10px;
        left: 28%;
        position: absolute;
        transform:  translateX(-50%) rotate(-45deg) !important;
    }

    .icon-down-arrow{
        top: 60%;
        left: 75%;
        position: absolute;
        transform:  translateX(-50%) rotate(-45deg) !important;
    }
}

.ms-left .section-bella{
    background: $jaunepipi;
}

.section-mimosa {
    .bloc-color {
        background: url(../img/mimosa-photo.jpg);
        background-size: cover;
        background-repeat: none;
        background-position: center center;
        height: 100%;
    }
}

.section-gatria {
    .bloc-color {
        background: url(../img/gatria.jpg);
        background-size: cover;
        background-repeat: none;
        background-position: center center;
        height: 100%;

        .bloc-color_img {
            position: absolute;
            width: 50%;
            left: 50%;
            text-align: center;

            img {
                width: 40%;
            }

            &:first-child {
                img {
                    position: relative;
                    margin-top: 25%;
                }
            }

            &:nth-child(2) {
                top: 50%;

                img {
                    position: relative;
                    top: 100px;
                }
            }

        }
    }
}

.section-adhara {
    .bloc-color {
        background: url(../img/adhara.jpg);
        background-size: cover;
        background-repeat: none;
        background-position: center center;
        height: 100%;
    }
}

.section-amber {
    .bloc-color {
        background: url(../img/amber.jpg);
        background-size: cover;
        background-repeat: none;
        background-position: center center;
        height: 100%;
    }
}

#multiscroll-nav li  span{
    background: $dark;
    border: 2px solid transparent;
 }

#multiscroll-nav li .active span{
   border: 2px solid $dark;
   background: white !important,
}