$fontLato :  'Lato', sans-serif;
$fontMerri : 'Merriweather', serif;
$fontOpen : 'Open Sans', sans-serif;

$jaunepipi: #ecead0;
$fontWhite:white;
$backDark:#2a2a2a;
$border:#3a3a3a;
$dark:#1e1e1e;
$blue:#74a9e2;